<!doctype html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title> Index do Projeto </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    </head>
    <body>
        <div id='Cabecalho'>
            <p class="Titulo"><h1>Trabalho: Dados Epidemiológicos</h1></p>
            <p><h4>Aluno: Renan Palomino Granusso, RA: 1460481711074</h4></p>
            <p><h4>Professor: Fabrício Galende Marques de Carvalho</h4></p>
        </div>

        <form action="/cadastro_epidemiologico" id='Adicionar' method="post">
            <div class="Add_data">
                <input type="text" name="data_coleta" id="data_coleta" placeholder="Data da Coleta">
            </div>
            <div class="Add_doenca_assoc">
                <input type="text" name="doenca_associada" id="doenca_associada" placeholder="Doença Associada">
            </div>
            <br>
            <div id="BTN_add">
                <button>Cadastrar</button>
            </div>
        </form>
    </body>
</html>