<!doctype html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title> Index do Projeto </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    </head>
    <body>
        <div id='Cabecalho'>
            <p class="Titulo"><h1>Trabalho: Dados Epidemiológicos</h1></p>
            <p><h4>Aluno: Renan Palomino Granusso, RA: 1460481711074</h4></p>
            <p><h4>Professor: Fabrício Galende Marques de Carvalho</h4></p>
        </div>
        <div id ='Cadastros'>
            <p>CADASTRO DE DOENÇAS</p>
        </div>
    </body>
</html>