<!doctype html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title> Visualizar Doenças </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
        <link rel="shortcut icon" href="{{url_for('static', filename='grafico.jpg')}}"/>
    </head>
    <body>
        <div id='Cabecalho'>
            <p class="Titulo"><h1>Trabalho: Dados Epidemiológicos</h1></p>
            <p><h4>Aluno: Renan Palomino Granusso, RA: 1460481711074</h4></p>
            <p><h4>Professor: Fabrício Galende Marques de Carvalho</h4></p>
        </div>

        <div id="Tabela">
            <table class="center" rules="all">
                <thead>
                    <tr>
                        <th>Doença</th>
                        <th>Sintomas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in doenca %}
                        <tr>
                            <td>{{e.nome}}</td>
                            <td>{{e.sintomas}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div id ="btn_retorno">
            <a href="index"><button class="Retorno" style="width:220px">Retornar</button></a>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>