<!doctype html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title> Index do Projeto </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    </head>
    <body>
        <div id='Cabecalho'>
            <p class="Titulo"><h1>Trabalho: Dados Epidemiológicos</h1></p>
            <p><h4>Aluno: Renan Palomino Granusso, RA: 1460481711074</h4></p>
            <p><h4>Professor: Fabrício Galende Marques de Carvalho</h4></p>

            <table class="center" rules="all">
                <thead>
                    <tr>
                        <th>Data de Coleta</th>
                        <th>Doença Associada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in Epidemio %}
                        <tr>
                            <td>{{e.data_coleta}}</td>
                            <td>{{e.doenca_associada}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id ="grafico">
                <p><h4>Visualização Gráfica</h4></p>
                <img src="{{url_for('static', filename='grafico.jpg')}}"/>
            </div>
            <div id ="btn_retorno">
                <a href="index"><button class="Retorno" style="width:220px">Retornar</button></a>
            </div>
        </div>
    </body>
</html>